@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

.Main-content {
  /*margin: 0px !important;*/
}

body {
   font-family: 'Gloria Hallelujah', cursive;
   background-image: url('../images/theaterbackground.jpg');
   /*padding-top: 50%;
   padding-bottom: 50%;*/
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   text-align: center;

}

body.library {
  background-image: url('../images/shelfsample.jpg');
}

body.search {
   background-image: url('../images/searchsample.jpg');
}
/*Home.jsx*/

div.social-wrap button {
   text-align: left;
   padding-right: 45px;
   height: 35px;
   background: none;
   border: none;
   display: block;
   background-size: 35px 35px;
   background-position: right center;
   background-repeat: no-repeat;
   border-radius: 4px;
   color: white;
   font-family: 'Gloria Hallelujah', sans-serif;
   font-size: 14px;
   margin-bottom: 15px;
   width: 205px;
   border-bottom: 2px solid transparent;
   border-left: 1px solid transparent;
   border-right: 1px solid transparent;
   box-shadow: 0 4px 2px -2px black; /*Adjust color depending on color of background*/
   text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
   border-color: #2d5073;
   background-color: #3b5998;
   background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
   /*border-radius: 70px;*/
}
button#googleplus {
    border-color: #111;
    background-color: #dc3e0e;
    background-image:url(http://www.iconsdb.com/icons/preview/white/google-plus-xxl.png);
    /*border-radius: 70px;*/

}
button#chaehwa {
    border-color: #111;
    background-color: rgb(233, 189, 239);
    background-image:url('../images/chaehwa.png');
    /*border-radius: 70px;*/

}


/*Signup.jsx*/
.input-group.signup {
   margin: 10px;

}

.buttonSpan {
   color: white;
}

/*Main.jsx*/
.pageName {
   background-color: #ca8e33;
}

/*Home.jsx*/
.jumbotron.homeBanner {
   text-align: center;
   margin: 15%;
   min-height: 500px;
   background-color: white;
   color: black;
   /*background-image: url('../images/slate.png');*/
   /*background-image: url('https://68.media.tumblr.com/5a20641623d1127d2e1cf9f8c526231c/tumblr_n0wbk5jJdn1rkjlzfo1_500.gif');*/
   background-repeat: no-repeat;
   background-position: center;
   -webkit-background-size: cover;
   /*background-size: cover;*/
   border: 10px solid black;
}

#black {
background-color: white;
}
#green {
   background-image: url('../images/theaterbanner.jpg');

}
/*Header.jsx*/
#headernav {
   /*height: 75px;*/
   border: 10px solid black;
   background-image: url('../images/filmrollheader2.png');
   background-size: contain;
   /*border: none;*/
}
.navbar-brand {
  float: left;
  margin-left: -60px !important;
  margin-right: 60px !important;
  background-color: white;
}

/*Library.jsx*/
.bookshelf {
  background-image: url('../images/shelfsample.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}


.leftPanel {
  /*background-color: rgba(255, 0, 0, 0.5);*/
  /*height: 500px;*/
  /*margin-right: 10px;*/
  margin-top: 300px;
}

.rightPanel {
  /*background-color: rgba(0, 255, 0, 0.5);*/
}

/*Search.jsx*/

#search {
    -webkit-appearance: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 40px;
    padding: 0 10px;
    height: 40px;
    font-size: 18px;
    color: black;
    line-height: 40px;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 0 1px rgba(0,150,200,.5), inset 0 2px 5px rgba(0,100,150,.3), 0 2px 0 rgba(255,255,255,.6);
    position: relative;
    z-index: 5;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    opacity: 0.8;
}

#search:focus {
    outline: none;
    width: 500px;
}

p.s {
    z-index: 4;
    position: relative;
    padding: 5px;
    line-height: 0;
    border-radius: 100px;
    background: black;
    background-image: -webkit-linear-gradient(black,grey);
    background-image: -moz-linear-gradient(black,grey);
    display: inline-block;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 2px 5px rgba(0,100,150,.4);
}

p.s:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 2px 3px 2px rgba(100,200,255,.5);
}

p.s:after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 20px;
    background: #b9ecfe;
    bottom: -10px;
    right: -3px;
    border-radius: 0 0 5px 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    box-shadow: inset 0 -1px 0 rgbA(255,255,255,.6), -2px 2px 2px rgba(0,100,150,.4);
}

p.s:hover:after {
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.6), -2px 2px 2px 1px rgba(100,200,255,.5);
}
