@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

html {
   /*max-width: 100%;*/
   /*max-height: 100%;*/
}

.Main {

  /*background-image: url('../images/movieCollage.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/
  /*text-align: center;*/
}

body {
   width: 100%;
   height: 100%;
   /*font-family: 'Gloria Hallelujah', cursive;*/
   font-family: 'Cormorant Garamond', cursive;
   background-color: black;
   background-image: url('../images/movieCollage.jpg');
   /*padding-top: 50%;
   padding-bottom: 50%;*/
   background-repeat: repeat;
   background-attachment: fixed;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   text-align: center;

}


body.library {
  background-image: url('../images/shelfResized.jpg');
}

body.search {
   background-image: url('../images/searchResized.jpg');
}
/*Home.jsx*/
.TestLeft {
   background-color: blue;
   height: 100vh;
}
.TestRight{
   background-color: red;
   height: 100vh;
}

div.logo-center {
   margin-top: 10%;
   height: auto;
   background-color: #222;
   border: 5px solid #fff;

}
.spanLogo {
   margin: auto;
   padding: 50px 0;
   font-size: 5em;
   color: #fff;
   font-weight: bold;
   /*font-size-adjust: auto;*/
   /*text-transform: uppercase;*/
}

div.social-wrap {
   background-color: rgba(255, 255, 255, 0.35);
   border: 5px solid #222;
   text-align: center;
   margin: 5% auto;

}
div.social-wrap button {

   text-align: center;
   padding-right: 45px;
   height: 35px;
   background: none;
   border: none;
   display: block;
   background-size: 35px 35px;
   background-position: right center;
   background-repeat: no-repeat;
   border-radius: 4px;
   color: white;
   font-family: 'Gloria Hallelujah', sans-serif;
   font-size: 14px;
   margin: 3%;
   width: 90%;
   border-bottom: 2px solid transparent;
   border-left: 1px solid transparent;
   border-right: 1px solid transparent;
   box-shadow: 0 4px 2px -2px black; /*Adjust color depending on color of background*/
   text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
   border-color: #2d5073;
   background-color: #3b5998;
   background-image: url('https://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png');
   /*border-radius: 70px;*/
}
button#googleplus {
    border-color: #111;
    background-color: #dc3e0e;
    background-image:url('http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/72/Web-Google-plus-alt-Metro-icon.png');
    /*border-radius: 70px;*/

}
button#chaehwa {
    border-color: #111;
    background-color: rgb(233, 189, 239);
    background-image:url('../images/chaehwa.png');
    /*border-radius: 70px;*/

}


/*Signup.jsx*/
.input-group.signup {
   margin: 10px;

}

.buttonSpan {
   color: white;
}

/*Main.jsx*/
.pageName {
   background-color: #ca8e33;
}

/*Home.jsx*/

.homeLogo {
   margin: 5%;
}
.welcomeDiv {
   /*overflow: scroll;*/
   width: 100%;
   background-color: #222;
   border: 5px solid #fff;
   color: #fff;
   text-align: center;
   padding-bottom: 5%;
   /*margin: 0 auto;*/

}


.rowhome {
  height: 70vh;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  background-image: url('../images/slate.png');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

}
.rowhome .homeslate {

  position: absolute;
  /*bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);*/

  bottom: 10%;
  left: 0;
  right: 0;
  /*left: 0;*/
  margin: auto;

}

/*Header.jsx*/
#headernav {
   /*height: 75px;*/
   border: 10px solid black;
   /*background-image: url('../images/filmrollheader2.png');*/
   /*background-size: contain;*/
   /*border: none;*/
}
.headerAvatar {
  position: relative;
  /*top: 0;*/
  float: right;
  padding: 0;
  /*display: inline-block;*/
  right: 0;
  height: 50px;
}
@media (max-width: 767px) {
  .headerAvatar {
    display: none;
  }
}
.navbar {
   margin: 0 auto;
}
.navbar-brand {
  float: left;
  /*margin-left: -60px !important;*/
  /*margin-right: 60px !important;*/
  background-color: white;
}

/*Library.jsx*/
.bookshelf {
  background-image: url('../images/shelfsample.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}


.leftPanel {
  /*background-color: rgba(255, 0, 0, 0.5);*/
  /*height: 500px;*/
  /*margin-right: 10px;*/
  margin-top: 20px;
}

.rightPanel {
  /*background-color: rgba(0, 255, 0, 0.5);*/
}

/*Search.jsx*/

#search {
    -webkit-appearance: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 40px;
    padding: 0 10px;
    height: 40px;
    font-size: 18px;
    color: black;
    line-height: 40px;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 0 0 1px rgba(0,150,200,.5), inset 0 2px 5px rgba(0,100,150,.3), 0 2px 0 rgba(255,255,255,.6);
    position: relative;
    z-index: 5;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    opacity: 0.8;
}

#search:focus {
    outline: none;
    width: 500px;
}

p.s {
    z-index: 4;
    position: relative;
    padding: 5px;
    line-height: 0;
    border-radius: 100px;
    background: black;
    background-image: -webkit-linear-gradient(black,grey);
    background-image: -moz-linear-gradient(black,grey);
    display: inline-block;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 2px 5px rgba(0,100,150,.4);
}

p.s:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 2px 3px 2px rgba(100,200,255,.5);
}

p.s:after {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 20px;
    background: #b9ecfe;
    bottom: -10px;
    right: -3px;
    border-radius: 0 0 5px 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    box-shadow: inset 0 -1px 0 rgbA(255,255,255,.6), -2px 2px 2px rgba(0,100,150,.4);
}

p.s:hover:after {
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.6), -2px 2px 2px 1px rgba(100,200,255,.5);
}

.posterDiv {
  display: inline-block;
  margin: 10px;
}

@media (min-width: 990px) {
   div.logo-center {
      margin-top : 0;
   }
}
.modal-lightbox {
  /*border: solid 10px green;*/
  width: 90%;

  height: 90%;
}
.modal-content {
  /*border: solid 8px pink;*/
  /*max-height: 100%;*/
}
.modal-body {
  max-height: 100%
  /*border: solid 8px blue;*/
}
.modalPosterHolder {
  max-height: 100%;
  border: 3px solid green;
}
.modalBackdropHolder {
  max-height: 50%;
  border: 3px solid black;
  background-color: black;
}
.modalDetailsHolder {
  margin: 10px 0;
  border: 3px solid red;
}
.modalDetails {
  font-size: 1.5em;
  text-align: left;
}

.detailTag {
  font-weight: bold;
}
.modalButtonsHolder{
  border: 3px solid purple;
  /*position: absolute;*/
  /*float: left;*/
  /*top: 90%;*/
  /*height: 10%;*/
  /*bottom: 0;*/
  /*right: 0;*/
  display: inline-block;
}
.btn-modal {
  margin: 5px;
}
.btn-modal:active {
  background-color: grey
  color: #fff;
  border-color: #122b40;
}

#modalPoster {
  max-width: 95%;
  max-height: 75vh;
  margin: auto 0;
}

#modalBackdrop {
  max-width: 95%;
  max-height: 40vh;
  margin: auto 0;
}
